{% extends 'login_layout.html.twig' %}

{% block content %}

    <div>

        <h1 class="logo-name">Logos V8</h1>
        <br>

    </div>

    <form method="POST" class="form-horizontal" style="width: 600px;">
        <div class="form-group">
            <label class="control-label col-sm-2" for="username">User name:</label>
            <div class="col-sm-10">
                <input name="login" class="form-control" id="login" placeholder="Введите логин">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input name="password" type="password" class="form-control" id="password" placeholder="Введите пароль">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </div>
        </div>
    </form>

{% endblock %}