{% extends 'layout.html.twig' %}
{% block page_info %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{% block title_page %} {{ title }} {% endblock %}</h2>
            {% if breadcrumbs %}
                <ol class="breadcrumb">
                    {% for key, value in breadcrumbs %}
                        {% if not loop.last %}
                            <li>
                                <a href="{{ value }}">{{ key }}</a>
                            </li>
                        {% else %}
                            <li class="active">
                                <strong>{{ value }}</strong>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}