<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %} {{ title }} | Logos V8 {% endblock %}</title>

    {% block css_files %}
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Toastr style -->
        <link href="/assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">

        <!-- Gritter -->
        <link href="/assets/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">


        <link href="/assets/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">

        <link href="/assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
        <link href="/assets/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
        <link href="/assets/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

        <link href="/assets/css/animate.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/custom.css" rel="stylesheet">
    {% endblock %}

</head>

<body>

{% block js_files_bottom %}
    <!-- Mainly scripts -->
    <script src="/assets/js/jquery-2.1.1.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="/assets/js/plugins/flot/jquery.flot.js"></script>
    <script src="/assets/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/assets/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="/assets/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/assets/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="/assets/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/assets/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/assets/js/inspinia.js"></script>
    <script src="/assets/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="/assets/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="/assets/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="/assets/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="/assets/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="/assets/js/plugins/chartJs/Chart.min.js"></script>

    <script src="/assets/js/plugins/fullcalendar/moment.min.js"></script>

    <!-- DateRangePicker -->
    <script src="/assets/js/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- DateRangePicker -->
    <script src="/assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- Toastr -->
    <script src="/assets/js/plugins/toastr/toastr.min.js"></script>

    <!-- Toastr -->
    <script src="/assets/js/plugins/dataTables/datatables.min.js"></script>

    <!--Loading-->
    <script src="/assets/js/loading_overlay/loadingoverlay.min.js"></script>
    <script src="/assets/js/loading_overlay/loadingoverlay_progress.min.js"></script>

    <!--sweet alert-->
    <script src="/assets/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/assets/js/custom.js"></script>


{% endblock %}
<div id="wrapper">

    {{ include('sidebar.html.twig', ignore_missing = true) }}

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>

                <ul class="nav navbar-top-links navbar-right">

                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        {% block page_info %}{% endblock %}
        <div class="wrapper wrapper-content animated fadeInRight">
            {% block content %}{% endblock %}
        </div>
        {% if block('footer') %}
            {{ block('footer') }}
        {% else %}
            <div class="footer"></div>
        {% endif %}
    </div>
</div>
</body>
</html>