<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                             </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs"> <strong class="font-bold">{{ username }}</strong></span>
                             </span>
                    </a>
                </div>
                <div class="logo-element">
                   Logos V8
                </div>
            </li>
            </li>
        </ul>

    </div>
</nav>