#shipment_registry_orders {

}
#shipment_registry_orders .ibox-tools {
    z-index: 10;
    position: relative;
}
#shipment_registry_orders .ibox-title > h5 {
    position: relative;
    display: inline-block;
    z-index: 100;
}

/*#shipment_registry_orders table tr > th {*/
    /*text-align: center;*/
/*}*/
#shipment_registry_orders table tr > td,
#shipment_registry_orders table tr > th {
    padding: 10px 5px;
}

#shipment_registry_orders table tr > td i {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 5px;
    display: inline-block;
    cursor: pointer;
    background: white;
    border: 1px solid #e7eaec;
    -webkit-border-radius:5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}

#shipment_registry_orders .base-input label {
    font-weight: normal;
}

#shipment_registry_orders .box-inputs > .base-input {
    margin-top: 5px;
}

#shipment_registry_orders .box-inputs #box-title {
    width: 100%;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px dotted #CCCCCC;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}